
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'IDroid';
    src: url('/Mini-projeto/components/font/IDroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
h1#fonte1 {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    color: black;
    font-size: 60px;
}
.usaIdroid{
    font-family: 'IDroid';
    text-align: center;
    color: black;
}
p#posTitulo{
    text-align: center;
}
.menu-bar{
    list-style-type: none;
    display: inline;
    text-underline-offset: none;
}